<div class="box sidebox about">
  <div class="sidebox-title">Description</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

    <!--Change this to your homepage-->
    {{!-- <p>See our latest projects at <a href="http://www.webkid.io">webkid.io</a></p> --}}
    {{!-- <p>Life is not a race, but a journey to be savored each step of the way.</p> --}}
  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="/rss" target="_blank" class="social-item rss">
      <li><i class="fa fa-rss"></i></li>
    </a>

    <a href="https://twitter.com/Just__Sailor" target="_blank" class="social-item tw">
      <li><i class="fa fa-twitter"></i></li>
    </a>

    <a href="https://github.com/zhanghao-zhoushan" target="_blank" class="social-item github">
      <li><i class="fa fa-github"></i></li>
    </a>

    <a href="https://www.facebook.com/profile.php?id=100025893741591" target="_blank" class="social-item home">
      <li><i class="fa fa-facebook"></i></li>
    </a>

  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>